<!doctype html>  
<html>
  <head>
    <meta charset="utf-8">
    <title>@@name@@</title>
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:regular,600,bold' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div id="main">
      @@content@@ 
    </div>
	<script src="/js/slideshow.js"></script>
  </body>
</html>
