code .hll { background-color: #ffffcc }
code  { background: #eee8d5; color: #586e75 }
code .c { color: #93a1a1; font-style: italic } /* Comment */
code .g { color: #d33682 } /* Generic */
code .k { color: #859900 } /* Keyword */
code .l { color: #2aa198 } /* Literal */
code .n { color: #268bd2 } /* Name */
code .cm { color: #93a1a1; font-style: italic } /* Comment.Multiline */
code .cp { color: #93a1a1; font-style: italic } /* Comment.Preproc */
code .c1 { color: #93a1a1; font-style: italic } /* Comment.Single */
code .cs { color: #93a1a1; font-style: italic } /* Comment.Special */
code .gd { color: #d33682 } /* Generic.Deleted */
code .ge { color: #d33682 } /* Generic.Emph */
code .gr { color: #d33682 } /* Generic.Error */
code .gh { color: #d33682 } /* Generic.Heading */
code .gi { color: #d33682 } /* Generic.Inserted */
code .go { color: #d33682 } /* Generic.Output */
code .gp { color: #d33682 } /* Generic.Prompt */
code .gs { color: #d33682 } /* Generic.Strong */
code .gu { color: #d33682 } /* Generic.Subheading */
code .gt { color: #d33682 } /* Generic.Traceback */
code .kc { color: #859900; font-weight: bold } /* Keyword.Constant */
code .kd { color: #859900 } /* Keyword.Declaration */
code .kn { color: #dc322f; font-weight: bold } /* Keyword.Namespace */
code .kp { color: #859900 } /* Keyword.Pseudo */
code .kr { color: #859900 } /* Keyword.Reserved */
code .kt { color: #859900; font-weight: bold } /* Keyword.Type */
code .ld { color: #2aa198 } /* Literal.Date */
code .m { color: #2aa198; font-weight: bold } /* Literal.Number */
code .s { color: #2aa198 } /* Literal.String */
code .na { color: #268bd2 } /* Name.Attribute */
code .nb { color: #cb4b16 } /* Name.Builtin */
code .nc { color: #cb4b16 } /* Name.Class */
code .no { color: #268bd2 } /* Name.Constant */
code .nd { color: #268bd2 } /* Name.Decorator */
code .ni { color: #268bd2 } /* Name.Entity */
code .ne { color: #268bd2 } /* Name.Exception */
code .nf { color: #268bd2 } /* Name.Function */
code .nl { color: #268bd2 } /* Name.Label */
code .nn { color: #268bd2 } /* Name.Namespace */
code .nx { color: #268bd2 } /* Name.Other */
code .py { color: #268bd2 } /* Name.Property */
code .nt { color: #268bd2; font-weight: bold } /* Name.Tag */
code .nv { color: #268bd2 } /* Name.Variable */
code .ow { color: #859900 } /* Operator.Word */
code .w { color: #586e75 } /* Text.Whitespace */
code .mf { color: #2aa198; font-weight: bold } /* Literal.Number.Float */
code .mh { color: #2aa198; font-weight: bold } /* Literal.Number.Hex */
code .mi { color: #2aa198; font-weight: bold } /* Literal.Number.Integer */
code .mo { color: #2aa198; font-weight: bold } /* Literal.Number.Oct */
code .sb { color: #2aa198 } /* Literal.String.Backtick */
code .sc { color: #2aa198 } /* Literal.String.Char */
code .sd { color: #2aa198 } /* Literal.String.Doc */
code .s2 { color: #2aa198 } /* Literal.String.Double */
code .se { color: #2aa198 } /* Literal.String.Escape */
code .sh { color: #2aa198 } /* Literal.String.Heredoc */
code .si { color: #2aa198 } /* Literal.String.Interpol */
code .sx { color: #2aa198 } /* Literal.String.Other */
code .sr { color: #2aa198 } /* Literal.String.Regex */
code .s1 { color: #2aa198 } /* Literal.String.Single */
code .ss { color: #2aa198 } /* Literal.String.Symbol */
code .bp { color: #cb4b16 } /* Name.Builtin.Pseudo */
code .vc { color: #268bd2 } /* Name.Variable.Class */
code .vg { color: #268bd2 } /* Name.Variable.Global */
code .vi { color: #268bd2 } /* Name.Variable.Instance */
code .il { color: #2aa198; font-weight: bold } /* Literal.Number.Integer.Long */
